@charset "utf-8";

body{
	margin: 0px;
	font-family: "FreeMono", monospace;
	position: absolute;
	background: url("../_imagens/light-grey-background.jpg");
	background-position: top center;
}

/*--------------------------------------------------------------------------*/

/* Interface */
div#interface {
	position: relative;
	width: 100%;
}

/*--------------------------------------------------------CABEÇALHO--------------------------------------------------------------*/

/* Cabeçalho */
div#cabecalho {
	position: relative;

}

/*--------------------------------------------------------------------------*/

/* Logo */
figure#logo {
	position: relative;
	text-align: center;
	margin-top: 4.3%;
}

/* Link Logo */
figure#logo a{
	text-decoration: none;
}

/*--------------------------------------------------------------------------*/

/* Primeiro Titulo */
h1#titulo1{
	text-indent: 6%;
	text-align: left;
	color: #494949;
	font-size: 40px;

}

/* Link Primeiro Titulo */
h1#titulo1 a{
	text-decoration: none;
	color: #494A57; 
}

/*--------------------------------------------------------------------------*/

/* Segundo Titulo */
h2#titulo2{
	position: relative;
	text-indent: 6%;
	text-align: left;
	color: #989898;
	font-size: 23px;
	margin-top: -1%;
}

/*--------------------------------------------------------------------------*/

/* Menu */
div#menu {
	position: relative;
	background-color: #222732;
	height: 110px;
}

/* Lista Menu */
div#menu ul{
	width: 90%;
	text-align: center;
}

/* Elementos Lista Menu */
div#menu li{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;	
	margin: 1.5% 1% 0.5% 1%;
	
}

/* Links Lista Menu */
div#menu a{
	text-decoration: none;
	color: #CBCBCB;
}

div#menu a:link{
    color: #CBCBCB;
}
div#menu a:visited{
	color: #CBCBCB;
}
div#menu a:hover{
    color: #FFFFFF;
}
div#menu a:active{
	color: #FFFFFF;
}

/*------------------------------------------------------!!!CABEÇALHO!!!----------------------------------------------------------*/


/*-----------------------------------------------------------CORPO---------------------------------------------------------------*/

/* Corpo */
div#corpo{
	width: 100%;	
}

/*--------------------------------------------------------------------------*/

/* Figura Principal */
figure.figurasP{
	position: relative;
	width: 100%;
	height: 50rem;
	margin: 0px;
	padding: 0px;
}

/* Imagem Figura Principal */
figure.figurasP img{
	position: relative;
	width: 100%;
	height: 100%;
}

/* Descrição Figura Principal */
figure.figurasP figcaption{
	position: relative;
	padding-left:10%;
	top: -205px;
	background-color: rgba(0, 0, 0, 0.6);
	height: 23.5%;
	padding-top: 1%;
	color: #F0F0F0;
	opacity: 0;
	transition: opacity 0.5s;
}

/* Ao Passar o Mouse Pela Figura Principal */ 
figure.figurasP:hover figcaption{
	opacity: 1;
}

/* Botão Figura Principal */
div#botao{
	position: relative;
	background-color: #222732;
	opacity: 0.8;
	width: 92px;
	padding-left: 19px;
	height: 45px;
	margin-left: 36px;
}

/* Texto Botão Figura Principal */
div#botao h4{
	color: #F0F0F0;
	padding-top: 11px; 
}

/* Link Botão Figura Principal */
figure.figurasP a{
	text-decoration: none;
}

/* Ao passar o Mouse pelo Botão da Figura Principal */
div#botao:hover{
	opacity: 1;
	color: #FFFFFF;
	box-shadow: 2px 2px 3px #000000;
}

/*--------------------------------------------------------------------------*/

/* Informação */
div#inf{
	border: 3px solid #DEDEDE;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
	margin: 40px;
}

/* Figura Informação */
figure#informacao{
	display: flex;
	align-items: right;
}

/* Descrição Figura Informação */
figure#informacao figcaption{
	padding-left: 3%;
	padding-top: 0.8%;
	text-align: justify;
}

/* Continuação Descrição Figura Informação */
p#continuacao{
	width: 94%;
	padding-left: 3.3%;
	text-align: justify;
}

/*--------------------------------------------------------!!!CORPO!!!------------------------------------------------------------*/


/*-----------------------------------------------------------RODAPÉ--------------------------------------------------------------*/

/* Rodapé */
div#rodape {
	
}

/*--------------------------------------------------------!!!RODAPÉ!!!-----------------------------------------------------------*/


